# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/assets/originalImages/Berries Summer Cupcakes.jpg
src/assets/originalImages/Brownies Different Flavor.jpg
src/assets/originalImages/Butter Cookies.jpg
src/assets/originalImages/Cherry Jelly Cheesecake.jpg
src/assets/originalImages/Chocolate Blueberries Cake.jpg
src/assets/originalImages/Chocolate Bonbons.jpg
src/assets/originalImages/Chocolate Cookies.jpg
src/assets/originalImages/Chocolate Cupcake.jpg
src/assets/originalImages/Chocolate Summer Berries.jpg
src/assets/originalImages/Classic Cheesecake.jpg
src/assets/originalImages/confetti.jpg
src/assets/originalImages/Cookies Cream Cake.jpg
src/assets/originalImages/Easter Cupcakes.jpg
src/assets/originalImages/facebook.png
src/assets/originalImages/Fruit Cake.jpg
src/assets/originalImages/insta.png
src/assets/originalImages/instagram.png
src/assets/originalImages/Isometric chocolate brownies.jpg
src/assets/originalImages/Monster Theme Cake.jpg
src/assets/originalImages/Muffin Devil Horns.jpg
src/assets/originalImages/Muffin Ghost.jpg
src/assets/originalImages/Pumpkin Spice Cupcakes.jpg
src/assets/originalImages/rating.jpg
src/assets/originalImages/twitter.png
src/assets/updatedImages/Berries Summer Cupcakes.jpg
src/assets/updatedImages/Brownies Different Flavor.jpg
src/assets/updatedImages/Butter Cookies.jpg
src/assets/updatedImages/Cherry Jelly Cheesecake.jpg
src/assets/updatedImages/Chocolate Blueberries Cake.jpg
src/assets/updatedImages/Chocolate Bonbons.jpg
src/assets/updatedImages/Chocolate Cookies.jpg
src/assets/updatedImages/Chocolate Cupcake.jpg
src/assets/updatedImages/Chocolate Summer Berries.jpg
src/assets/updatedImages/Classic Cheesecake.jpg
src/assets/updatedImages/Cookies Cream Cake.jpg
src/assets/updatedImages/Easter Cupcakes.jpg
src/assets/updatedImages/Fruit Cake.jpg
src/assets/updatedImages/Isometric chocolate brownies.jpg
src/assets/updatedImages/Monster Theme Cake.jpg
src/assets/updatedImages/Muffin Devil Horns.jpg
src/assets/updatedImages/Muffin Ghost.jpg
src/assets/updatedImages/Pumpkin Spice Cupcakes.jpg
