<div class="card">
  <div class="card_header">
    <img src="{{ product?.image }}" alt="" class="card_body-img" />
  </div>
  <div class="card_body">
    <h4>
      {{ product?.title }}
    </h4>
    <p>
      {{ product?.description }}
    </p>
  </div>
  <div class="card_footer">
    <form action="">
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" name="quantity" min="0" max="10" />
    </form>
    <div class="card_footer-btn">
      <button>Add to Cart!</button>
    </div>
  </div>
</div>
